:root {
    --primary-color: #6c63ff;
    --heading-font-family: "playfair Display", serif;
    --default-font-family:  "poppins", san-serif;
    --secondary-color: #f9f7fe;
}
h1, 
h2, 
h3, 
h4 {
    color: black;
    font-family: var(--heading-font);
    font-weight: bold;
}

h1{
    font-size: 96px;
}

p {
    font-family: var(--default-font-family);
    font-weight: normal;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-family: var(--heading-font-family);
    font-size: 34px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}

.logo {
    max-width: 150px;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
    font-family: var(--default-font-family);
}

nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}

nav a :hover, #homepage, #aboutpage, #workpage, #contactpage{
    color: var(--primary-color);
}

nav ul {
    padding: 0;
    margin: 0;
}

nav {
    padding: 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    font-family: var(--default-font-family);
    line-height: 1.5;
}

.content p {
    font-size: 14px;
    font-family: var(--default-font-family);
    margin: 5px 0 10px;
}

.content-container {
    padding: 160px 20px;
}

.content {
    margin: 30px;
}
.btn-branding {
    background-color: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    padding: 15px 20px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 48px;
}

p {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
}

.btn-brand {
    border-radius: 4px;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 20px;
    text-decoration: none;
    border: 1px solid var(--primary-color);
}

.project {
    padding: 120px 60px;
}

footer .contact-box {
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer .email-links {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

footer .email-links:hover {
    color: var(--primary-color);
}

footer .social-links a {
    margin: 0 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
}

footer .social-links a:hover {
    color: white;
    background-color: var(--primary-color);
}

footer {
    margin: 60px 0;
}

@media (max-width: 992px) {
    h1 {
        font-size: 40px;
        line-height: 52px;
    }
    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 18px;
    }
    .hero {
        padding: 80px 20px;
    }

    .col-6 {
        display: block;
        text-align: center;
        width: auto;
    }
    .project {
        padding: 0;
    }
    .content-container {
        text-align: center;
        padding: 0;
    }
    .logo {
        max-width: 40px;
    }
}